.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 1.25rem;
  @media (max-width: $md1 + px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

/* Page Flex for main
--------------------------------------------- */
.page {
  flex: 1 1 auto;
}

/* Wrapper
--------------------------------------------- */
@import "layouts/wrapper";