body {
	color: $color__background-body;
	background-color: $color__background-body;
	transition: all 300ms ease-in-out;
	&._lock {
		overflow: hidden;
	}
	&.active {
		background-color: #000;
		color: #fff;
	}
}